<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
</head>
<body>
    <h1>Email verification for Arab board Account</h1><br>
    <h3>Congratulations! <%=firstname %> <%=lastname%></h3><br>
    <h3>You have successfully Signed up for your account</h3><br>
    <h3>Now, click this button to verify your email   <a style="background-color:royalblue;border-radius:3px solid red;color:aqua" href="http://127.0.0.1:8080/emailVerifyreq/<%=id%>">Verify</a></h3>
</body>
</html>