<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
</head>
<body>
    <h1>Reset Password OTP for Arab board Account</h1><br>
    <h3>Dear! <%=firstname %> <%=lastname%></h3><br>
    <h3>Your One Time Password for your account is <%=otp%></h3><br>
</body>
</html>